body  {
	font-family:Arial, Helvetica, sans-serif;
	margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
	padding: 0;
	text-align: center; /* 在 IE 5* 浏览器中，这会将容器居中。文本随后将在 #container 选择器中设置为默认左对齐 */
	color: #000000;
	background-color: #FFF;
	background-image: url(../images/bak.gif);
	background-repeat: repeat-x;
}
.company_name {
	/*font-family:"Times New Roman", Times, serif;*/
	font-size:18px;
	font-weight:bold;
}
.nav_lnk_bar {
	background-image: url(../images/nav_bar.gif);
	height: 40px;
	width: 1004px;
	margin: 0px auto;
}
.nav_lnk_bar a {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	text-decoration: none
}
.nav_lnk_bar a:hover {
	color: #ff0000
}
a.nav_lnk:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.nav_lnk:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.nav_lnk:hover {
	color: #ff0000;
}
.info_td {
	/*font-family:"新宋体";*/
	font-size:14px;
	word-break:break-all;
	word-wrap:break-word;
}
/*
.top {
	margin: 0px auto;
	background-image: url(../images/top.gif);
	height: 48px;
	width: 1004px;
}
.lan_bar {
	font-size: 12px;
	float: right;
	width: 150px;
	margin: 15px 1px 1px
}
.nav_bar {
	line-height: 40px;
	background-image: url(../images/nav_bar.gif);
	height: 40px;
	width: 1004px;
	margin: 0px auto;
}
.nav_bar ul {
	padding-right: 0px;
	padding-left: 0px;aaaaasd
	padding-bottom: 0px;
	margin: 0px 0px 0px 208px;
	padding-top: 0px;
	list-style-type: none
}
.nav_bar ul li {
	float: left;
	width: 108px;
	text-align: right
}
.nav_bar li a {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	text-decoration: none
}
.nav_bar li a:hover {
	color: #ff0000
}
.bottom {
	margin: 0px auto;
	width: 1004px;
	min-height: 780px;
	background-image: url(../images/bak_gnd.gif);
	background-repeat: repeat-y;
	height: 780px;
}
.left {
	margin-top: 10px;
	float: left;
	width: 252px;
}
.left p {
	font-size: 14px;
}
.left table {
	float:left;
	overflow:scroll;
}
.right {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width: 730px;
}
*/
a.a1:link {
	font-size: 12px;
	color: #0000ff;
	text-decoration: none;
}
a.a1:visited {
	font-size: 12px;
	color: #0000ff;
	text-decoration: none;
}
a.a1:hover {
	color: #ff0000;
}
/*
a.a2:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.a2:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.a2:hover {
	color: #ff0000;
}
a.a3:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.a3:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.a3:hover {
	color: #ff0000;
}
*/
.bar_sept {
	font-weight: bold;
	font-size: 14px;
	background-image: url(../images/bar.gif);
	width: 722px;
	color: #003366;
	text-indent: 20px;
	line-height: 32px;
	background-repeat: no-repeat;
	height: 32px;
}
.guest_msg {
	float:center;
}
